/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* Global styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

body {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

/* App container */
.App {
  width: 80%;
  margin: auto;
}

/* Fade-in animation */
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}